[submodule "NexusModsNET"]
	path = External/NexusModsNET
	url = https://github.com/LaughingLeader/NexusModsNET
[submodule "lslib"]
	path = External/lslib
	url = https://github.com/LaughingLeader/lslib
[submodule "SukiUI"]
	path = External/SukiUI
	url = https://github.com/LaughingLeader/SukiUI
[submodule "modio.net"]
	path = External/modio.net
	url = https://github.com/nickelc/modio.net
[submodule "Avalonia.Controls.TreeDataGrid"]
	path = External/Avalonia.Controls.TreeDataGrid
	url = https://github.com/AvaloniaUI/Avalonia.Controls.TreeDataGrid
[submodule "CrossSpeak"]
	path = External/CrossSpeak
	url = https://github.com/LaughingLeader/CrossSpeak
[submodule "Avalonia.MarkdownViewer"]
	path = External/Avalonia.MarkdownViewer
	url = https://github.com/LITTOMA/Avalonia.MarkdownViewer.git
[submodule "Avalonia.Labs"]
	path = External/Avalonia.Labs
	url = https://github.com/AvaloniaUI/Avalonia.Labs
